language: ruby
rvm:
  - ruby-2.3.0
services:
  - mongodb
before_script:
  - cp -f config/mongoid.travis.yml config/mongoid.yml
  - cp -f config/secrets.travis.yml config/secrets.yml
script:
  - bundle install
  - bundle exec rspec
addons:
  code_climate:
    repo_token: 9ebac024db0f4afdf3e7862a46ceb76f3667695e21cdc8bd8b11e2aaf1034449
  apt:
    sources:
      - mongodb-upstart
    packages:
      - mongodb-org