<div class="calendar-controls">
  <div class="month-before">
    <a href="<%= calendar_url year: @month_grid_data[:month_date].prev_month.year, month: @month_grid_data[:month_date].prev_month.month %>">
      <span class="glyphicon glyphicon-arrow-left"></span><%= l(@month_grid_data[:month_date].prev_month, format: :full_month) %>
    </a>
  </div>
  <div class="month-after">
    <a href="<%= calendar_url year: @month_grid_data[:month_date].next_month.year, month: @month_grid_data[:month_date].next_month.month %>">
      <%= l(@month_grid_data[:month_date].next_month, format: :full_month) %><span class="glyphicon glyphicon-arrow-right"></span>
    </a>
  </div>
  <div class="clearfix"></div>
</div>