<div class="panel panel-default">
  <div class="panel-body">
    <p>Current day: <%= l(@current_date, format: :full)  %></p>
    <p>
      Click on any day to get more info or edit it.
    </p>
  </div>
</div>