<ul class="month-days-grid">
  <% @month_info[:month][:dates].first(7).each do |day| %>
      <li class="week-day">
        <%= l(day, format: :week_abbr) %>
      </li>
  <% end %>

  <% @month_info[:month][:dates].each_with_index do |date, date_index| %>
      <li class="day <%= calendar_day_opt_classes(date, date_index, @month_info) %>">
        <a class="day-content" href="<%= make_calendar_day_url(date) %>">
          <%= date.day %>
        </a>
      </li>
  <% end %>
</ul>