<% content_for(:title, l(@month_grid_data[:month][:month_date], format: :full_month)) %>

<%= render 'calendar/calendar_header', month_date: @month_grid_data[:month][:month_date] %>

<div class="row">
  <div class="col-sm-8">
    <%= render 'calendar/calendar_grid' %>
  </div>
  <div class="col-sm-4">
    <%= render 'calendar/calendar_info' %>
  </div>
</div>

