defaults: &defaults
  mail:
    :delivery_method: :smtp
    :smtp_settings:
      :address: smtp.mailgun.org
      :port: 587
      :user_name: username@test.mailgun.org
      :password: password
      :domain: test.mailgun.org
      :authentication: :plain
    :default_options:
      :from: username@test.mailgun.org
    :default_url_options:
      :host: http://localhost:3000
  webpush:
    :public_key: public_key
    :private_key: private_key


development:
  <<: *defaults
  secret_key_base: development_secret

test:
  secret_key_base: test_secret

production:
  secret_key_base: production_secret