// Month grid for calendar day

.month-days-grid {
  @include reset-list;
  overflow: hidden;

  & > li {
    float:left;
  }

  .week-day {
    width: 1/7 * 100%;
    text-align: center;
    font-size: 1em;
    @media (min-width: $screen-md-min) {
      font-size: 2em;
    }
  }

  .day {
    position: relative;
    width: 1/7 * 100%;
    padding-bottom : 1/7 * 100%; // = width for a 1:1 aspect ratio
    overflow: hidden;

    border-right: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;

    &.week-number-0 {
      border-top: 1px solid $gray-light;
    }
    &.week-day-number-0 {
      border-left: 1px solid $gray-light;
    }

    &.week-day-number-0.week-number-0 {
      border-radius: 4px 0 0 0;
    }
    &.week-day-number-6.week-number-0 {
      border-radius: 0 4px 0 0;
    }
    &.week-day-number-0.week-number-5 {
      border-radius: 0 0 0 4px;
    }
    &.week-day-number-6.week-number-5 {
      border-radius: 0 0 4px 0;
    }

    font-size: 1.2em;
    @media (min-width: $screen-sm-min) {
      font-size: 1.6em;
    }
    @media (min-width: $screen-md-min) {
      font-size: 2em;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 2.4em;
    }

    .day-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-left: 0.3em;
      color: $gray-dark;
      text-decoration: none;

      border: 4px solid transparent;
    }

    &.current-day .day-content {
      border-color: $current-day-color;
    }

    &.inactive .day-content {
      color: $gray-light;
    }

    &.critical .day-content {
      background-color: $critical-color;
    }

    &.future-critical .day-content {
      background-image: url($future-critical-image);
    }
  }
}



// Containers for calendar grid and calendar info (right legend)

.calendar-grid-container, .calendar-info-container {
  margin-bottom: 10px;
}



// Calendar header with controls

.calendar-header {
  margin-bottom: 1em;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 2em;
  }

  h1 {
    margin: 0;
  }

  .next-month, .prev-month {
    vertical-align: top;
  }
  .next-month {
    text-align: right;
  }
  .prev-month {
    text-align: left;
  }

  .month-title {
    display: none;
  }
  @media (min-width: $screen-sm-min) {
    .month-title {
      width: 110px;
      display: inline-block;
    }
  }
}



// Styles for calendar info (legend)

.calendar-info {
  .upcoming-critical-period {
    color: #bc0000;
    font-size: 1.2em;
    line-height: 1.1;
  }

  .example {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    display: inline-block;
  }

  .critical-example {
    background-color: $critical-color;
  }

  .future-critical-example {
    background-image: url($future-critical-image);
  }

  .current-day-example {
    border: 2px solid $current-day-color;
  }

  .current-day-title {
    font-size: 1.3em;
  }
}


// Block to delete period

.delete-period-block {
  display: none;

  &.active {
    display: block;
  }
}



// Critical day values icons in list

.critical-day-icons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .icon {
    width: 33%;
    height: 33%;
    display: block;
    float: right;
  }
}



// Radio buttons to switch critical periods

.calendar-day-form .critical-day-value {
  display: none;
  &.active {
    display: block;
  }
}
