.page-alert {
  margin: {
    left: auto;
    right: auto;
  }
  text-align: center;
  @media (min-width: $screen-sm-min) {
    width: 50%;
  }
}

h1 {
  font-size: 24px;
  @media (min-width: $screen-sm-min) {
    font-size: 32px;
  }
}