// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-title {
  text-align: center;
}
.sign-in-container {
  margin: 0 auto;
}

@media (min-width: $screen-sm-min) {
  .sign-in-container {
    width: 600px;
  }
}